*,
*::after,
*::before,

body {
margin: 0;
padding: 0;
border: border-box;
font-family: fantasy;color: blueviolet;
background-image: url(../skatelife.png);
background-size: cover;
background-repeat: no-repeat;

}

.container img {
    width: 466px;
    height: 150px;
    border-radius: 70%;
}
